.parent {
  margin-top: 5%;
  height: 10.2vw;
  text-align: center;
  /* background-color: aquamarine; */
}

.child {
  /* height: 100%; */
  display: inline-flex;
  transition: trasform 1s ease-in;
  animation: up-down 1s ease-in-out forwards infinite alternate;
  /* align-items: center; */
}

.parent:hover .child {
  /* animation: up-down 1s ease-in forwards infinite alternate; */
  animation-play-state: paused;
}

@keyframes up-down {
  0% {
    transform: rotate(90deg) translateX(0%);
  }

  100% {
    transform: rotate(90deg) translateX(4%);
  }
}

.photoContainer {
  text-align: center;
}

.photo {
  height: 15%;
  width: 15%;
}

.rightArrow {
  height: 30%;
  width: 30%;
  transform: rotate(90deg);
}

.rightArrow:hover {
  cursor: pointer;
}
