html {
  scroll-behavior: smooth;
}

.parent {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.child {
  display: inline-flex;
  transition: trasform 1s ease-in;
  animation: up-down 1s ease-in-out forwards infinite alternate;
}

/* .parent:hover .child {
  animation: up-down 1s ease-in forwards infinite alternate;
  animation-play-state: paused;
} */

@keyframes up-down {
  0% {
    transform: rotate(90deg) translateX(0%);
  }

  100% {
    transform: rotate(90deg) translateX(15%);
  }
}

.photoContainer {
  text-align: center;
}

.photoSocials {
  margin-top: 2%;
  height: 3em;
}

.photo {
  height: 15em;
}

.rightArrow {
  margin-top: 8%;
  height: 5em;
  transform: rotate(90deg);
}

.rightArrow:hover {
  cursor: pointer;
}

.title {
  font-size: 200%;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 3%;
}
